/*
** Change any value,
** But not variable names,
** OR 123DEATH!
*/

/*
** Grid
*/
$max_width: 1200px;
$row_pad: 0 5%;
$col_pad: 1em;

/*
** List of break points, in pixels
**
** List in descending order
** Largest (thus, first) will be just min-width
*/
$break_points: (
	'dklg' 1200px
,	'tbsm' 950px
,	'mblg' 700px
,	'mbsm' 450px
);

// Name of default breakpoint
// Styles between first and second widths defined in $break_points
$bp_default: 'dk';

// Name of breakpoint in $break_points to start stacking columns
$bp_stack_columns: 'mblg';

/*
** Typography
*/
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

%f_header {font-family: 'Droid Serif', serif;}
%f_body {font-family: 'Droid Sans', sans-serif;}

$fz: 16px;
$input_pad: .5em;

/*
** Colors
*/
$blue: blue;
$red: red;

$c_body: #555;
$c_link: $blue;
$c_link_hover: $red;

$c_tw: #2AB6E9;
$c_fb: #3B5998;
$c_li: #0A7AB3;
$c_yt: #BD2F29;
$c_ig: #517FA3;
$c_rss: #F79937;
