
.row {
	@if $max_width {
		max-width: $max_width;
	}
	@if $gl_pad {
		padding: 0 $gl_pad;
	}
	margin: 15em auto 0;
	font-size: .01em;
}
.column {
	font-size: 100em;
	display: inline-block;
	vertical-align: top;
	padding: $grid_spacing / 2;

	&:first-child {padding-left: 0;}
	&:last-child {padding-right: 0;}
	.va-m & {vertical-align: middle;}
}
@for $x from 1 through $grid_column_count {
	.lg-#{$x} {width: $x / $grid_column_count * 100%;}
}
