
%pseudo-triangle {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	border: solid transparent;
}
@mixin placeholder {
	::-webkit-input-placeholder {@content}
	::-moz-placeholder {@content}
	:-ms-input-placeholder {@content}
}
