
//  LAYOUT  ////////////////////////////////////////////////////////////////

// Set these to false for full-width site
$max_width: 1200px;
$gl_pad: 30px;

//  GRID  ////////////////////////////////////////////////////////////////

$grid_column_count: 12; // Only change this in cases of EXTREME EMERGENCY!
$grid_spacing: 1.2em;

//  BREAK POINTS  ////////////////////////////////////////////////////////////////

$mq_dk_lg: 'min-width: 1200px';
$mq_tb_sm: 'max-width: 1000px';
$mq_mb_lg: 'max-width: 700px';
$mq_mb_sm: 'max-width: 450px';

//  TYPOGRAPHY  ////////////////////////////////////////////////////////////////

@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

%font-header {font-family: 'Droid Serif', serif;}
%font-body {font-family: 'Droid Sans', sans-serif;}

$fz: 16px;
$input_pad: .5em;

//  COLORS  ////////////////////////////////////////////////////////////////

$blue: blue;
$red: red;

$c_body: #555;
$c_link: $blue;
$c_link_hover: $red;

$c_tw: #2AB6E9;
$c_fb: #3B5998;
$c_li: #0A7AB3;
$c_yt: #BD2F29;
$c_ig: #517FA3;
$c_rss: #F79937;
