/*
** This is the best grid
** If I can say so myself
** But I am biased
*/

$grid_column_count: 12;

.row {
	display: block;
	@if $max_width { max-width: $max_width; }
	margin-left: auto;
	margin-right: auto;
	@if $row_pad { padding: $row_pad; }

	&:not(.table) {@extend %clearfix;}
	.row {max-width: none;}
}
.column {
	display: block;
	float: left;
	position: relative;
	@if $col_pad { padding: $col_pad; }

	&:last-child {float: right;}
}
@for $x from 1 through $grid_column_count {

	// Set grid
	.#{$bp_default}-#{$x}, .all-#{$x} {
		width: $x / $grid_column_count * 99.999%;
	}
	// Multiple rows of .columns in one .row
	.multi-row .#{$bp_default}-#{$x}:nth-child(#{ $grid_column_count / $x }n+1) {
		clear: both;
	}

	// Push and pull
	.push-#{$x} {
		left: $x / $grid_column_count * 99.999%; right: auto;
	}
	.pull-#{$x} {
		right: $x / $grid_column_count * 99.999%; left: auto;
	}

}

/*
** "Just put it in a table"
*/
.row.table {
  display: table;
  table-layout: fixed;

	&.va-t .column {vertical-align: top;}
	&.va-b .column {vertical-align: bottom;}
	> .column {
		@extend %tcell;

		&, &:last-child {float: none;}
	}
}

/*
** Responsive
*/
// Get index of media query chosen to start stacking
$stack_columns_index: index_from_key($break_points, $bp_stack_columns);

@each $mq in $media_queries {
@media (nth($mq, 2)) {

	// For the stacked media query and smaller
	@if index($media_queries, $mq) >= $stack_columns_index {
		@for $x from 1 through $grid_column_count {
		  .#{$bp_default}-#{$x} {
		  	width: 100%;
		  	&, &:last-child {float: none;}
		  }
			.push-#{$x} {left: auto;}
			.pull-#{$x} {right: auto;}
		}
		.row.table.stacked {
			&, > .column {display: block; float: left;}
		}
	}
	// Set grid for each media query
	@for $x from 1 through $grid_column_count {
		.#{ nth($mq, 1) }-#{ $x } {
			width: $x / $grid_column_count * 99.999%;
			float: left;
			&:last-child {float: right;}
		}
		// Multiple rows of .columns in one .row
		.multi-row .#{ nth($mq, 1) }-#{ $x }:nth-child(#{ $grid_column_count / $x }n+1) {clear: both;}
	}
	// Full width shouldn't be pushed or pulled
	.#{ nth($mq, 1) }-#{ $grid_column_count } {left: auto; right: auto;}

}
}
